__pycache__
models/

results/diffusion/models/
results/diffusion/losses/
results/diffusion/optimizers/

results/classification/models/
results/classification/metrics/
results/classification/optimizers/

data/
